@page
@model MoviesForEveryone.Pages.MovieQueuePageModel
@{

}
<style type="text/css">
    #queueCarosuel
    {
        width:800px;
        height:500px;
        display:inline-block;
        background-color:lightgrey;
        outline-color:black;
        outline-style:auto;
    }
</style>
  
<body id="background">
    @if (MovieQueuePageModel.queueComplete == true)
    {
    <div id="queueCarosuel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#queueCarosuel" data-slide-to="0" class="active"></li>
            @{ 
                int counter = 1;
                foreach (MoviesForEveryone.Models.Movie movie in MovieQueuePageModel.movieQueue)
                {
                    {<li data-target="#queueCarosuel" data-slide-to="@counter"></li>}
                    counter++;
                }
                }
        </ol>

        <div class="carousel-inner">
            @{
                counter = 0;
                foreach (MoviesForEveryone.Models.Movie movie in MovieQueuePageModel.movieQueue)
                {
                    {
                        <div class="carousel-item @(@counter == 0 ? "active" : "")">
                            <p>Title: @movie.movieTitle</p>
                            <p>Description: @movie.overview</p>
                            <p>Directed By: @foreach (string dir in movie.movieDirectors)
                            { <span>@dir.ToString() </span> }</p>
                            <p>Genres: @foreach (string genre in movie.genres)
                            { <span>@genre.ToString() </span> } </p>
                            <p>Keywords:  @foreach (string keyword in movie.keywords)
                            { <span>@keyword.ToString() </span>} </p>
                            @if (!movie.marked)
                            {
                            <form method="post">
                                <button asp-page-handler="MarkLiked" asp-route-buttonId="@counter">Liked</button>
                                <button asp-page-handler="MarkNotLiked" asp-route-buttonId="@counter">Didn't Like</button>
                                <button asp-page-handler="MarkNotSeen" asp-route-buttonId="@counter">Haven't Seen</button>
                            </form>  
                            }
                        </div> 
                    }
                    counter++;
                }
            }
            <a class="left carousel-control" href="#queueCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#queueCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>    
    }
   
</body>