@page
@model MoviesForEveryone.Pages.ViewReviewsModel
@{
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table style="width:100%">
    <tr>
        <th class="cleanRate">
           Cleanliness Rating
        </th>
        <th class="concRate">
          Concessions Rating
        </th>
        <th class="arcadeRate">
           Arcade Rating
        </th>
        <th class="expRate">
          Movie Experience Rating
        </th>
        <th class="reviewAvg">
           Average Score
        </th>
        <th class="cleanReview">
           Comments on Cleanliness
        </th>
        <th class="concReview">
            Comments on Concessions
        </th>
        <th class="arcadeReview">
            Comments on Arcade
        </th>
        <th>
            Comments on Movie Experience
        </th>
        <th>
            Was this review helpful?
        </th>
    </tr>
    @{int counter = 0; } 
    @foreach (var review in Model._reviews)
    {
        <tr id="@counter">  <!-- Allows us to keep track of which review the user is rating the helfpulness of-->
            <td class="cleanRate">
                @review.cleanlinessRating;
            </td>
            <td class="concRate">
                @review.concessionsRating
            </td>
            <td class="arcadeRate">
                @review.arcadeRating
            </td>
            <td class="expRate">
                @review.experienceRating
            </td>
            <td class="reviewAvg">
                @review.reviewAvgScore
            </td>
            <td class="cleanReview">
                @review.cleanlinessReview
            </td>
            <td class="concReview">
                @review.concessionsReview
            </td>
            <td class="arcadeReview">
                @review.arcadeReview
            </td>
            <td class="expReview">
                @review.experienceReview
            </td>  
            <td>                
                <button type="submit" name=@{$"yesBttn{counter}"}>Yes</button>
                <button type="submit" name="noBttn">No</button>
            </td>
        </tr>
        @counter++;      
    }
</table>
